*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7091e6;
    color: white;
    font-family: "Poppins", serif;
    background-image: url('bluebg.jpg');
    background-size: cover;
}


nav{

display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
background-color: rgba(255, 255,255 , 0.3);


}

nav ul{
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;

}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #7091e6;
    font-size: 1.05rem;
}

main hr {
    border: 0;
    background:#ede8f5;
    height: 0.2rem;
    margin: 40px 84px;
    border-radius: 50%;
}
.left{
    font-size: 1.5rem;
}


.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0 ;
  
    background-size: cover;
    
}

.firstSection > div{
    width: 30%;

}

.leftSection{

    font-size: 3rem;
    margin: 70px 0 ;
 
}

.rightSection img{

    height: 450px;
    margin: 40px 0 ;
    border-radius: 50%;
    

}

.colored-name {
    color: #ede8f5;
}


#element{
    color: #ede8f5;
}

.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

.secondSection h1{
    font-size: 2rem;
}

.about-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -60px 0;
}

.card {
    margin: 70px 0;
    width: 270px;
    height: 400px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgba(255, 255,255 , 0.3);
   
    
   
   }

  
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

   .text1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
   }
   
   