*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7091e6;
    color: white;
    font-family: "Poppins", serif;
}


nav{

display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
background-color: #3d52a0;
}

nav ul{
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;

}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #7091e6;
    font-size: 1.05rem;
}

main hr {
    border: 0;
    background:rgb(12, 10, 130) ;
    height: 0.2rem;
    margin: 40px 84px;
    border-radius: 50%;
}
.left{
    font-size: 1.5rem;
}


.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0 ;
    
}

.firstSection > div{
    width: 30%;

}

.leftSection{

    font-size: 3rem;
    margin: 70px 0 ;
 
}

.rightSection img{

    margin: 40px 0 ;

}

.colored-name {
    color: rgb(12, 10, 130);
}


#element{
    color: rgb(12, 10, 130);
}

.secondSection{
    max-width: 80vw;
    margin: auto;
}