*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #361d2e;
    color: #e5be9e;
    font-family: "Poppins", serif;
  
    background-size: cover;
}


nav{

display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
background-color: rgba(0,0,0,0.3);


}

nav ul{
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;

}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    
    font-size: 1.05rem;
}

main hr {
    border: 0;
    background:#ede8f5;
    height: 0.2rem;
    margin: 40px 84px;
    border-radius: 50%;
}
.left{
    font-size: 1.5rem;
    color: white;
}


.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0 ;
  
    background-size: cover;
    
}

.firstSection > div{
    width: 30%;

}

.leftSection{

    font-size: 3rem;
    margin: 70px 0 ;
 
}

.rightSection img{

    height: 450px;
    margin: 40px 0 ;
    border-radius: 50%;
    

}

.colored-name {
    color: #86a397;
}


#element{
    color: #86a397;
}

.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1{
    font-size: 2rem;
}

.about-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -60px 0;
}

.card {
    margin: 65px 0;
    width: 270px;
    height: 400px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgb(54, 29, 46, 0.3);
    transition: transform 0.2s ease;
    box-shadow: 0 0 500px #86a397; 

}


.card .icon {
    font-size: 2.3rem;
    color: #e5be9e;
    display: block;
    text-align: center;
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.card:hover .icon {
    transform: scale(1.2);
}

  
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

   .text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
   }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #e5be9e;
    
    
  }

  .thirdSection{
    max-width: 80vw;
    margin: auto;
    height: 100vh;
  }

  .thirdSection h1{
    font-size: 2rem;
  }
   
  .skill-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -60px 0;
    flex-wrap: wrap;
  }

  .skill-cards .card {
    height: 200px;  /* Reduced height for skill cards */
    width: 250px;   /* Adjusted width */
    margin: 20px;   /* Added margin for spacing */
}

.skill-cards .text {
    font-size: 0.7rem;  /* Smaller font size for skill descriptions */
    padding: 0 15px;    /* Added padding for text */
}

.skill-cards .icon {
    margin: 15px 0;     /* Adjusted margin for icons */
}